
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Italiana';
}
:root{ 
    --primary: #b30000;
    --secundary: #d48e25;
    --black: #000000;
    --white: #ffffff;
}
header {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--primary);
    border-bottom-width: 3.0rem;
    border-bottom-style: solid;
    height: 0.01rem;

}

header img {
    margin: 0 0.9rem;
    height: 3.2rem;
}



header nav a{
    
    margin: 6.5rem;
    text-decoration: none;
    color: var(--black);
    
}
header nav a:hover {
    font-weight: bold;
}

footer{
    height: 3.0rem;
    display: flex;
    align-items: center;
    background-color: var(--secundary);
}
footer img {
    margin: 0 0.5rem;
    height: 2.3rem;
}

main {
    height: calc(100vh - 6rem);
}


main.index section img {
    width: 22%;
}


main.index article img {
    width: 22%;
}

