@media(max-width: 800px) {
    main {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
}

@media(max-width: 600px) {
    main {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media(max-width: 400px) {
    main {
        display: grid;
        grid-template-columns: auto;
    }

    main.img section{
        display: flex;
        flex-direction: column;
    }

    main.img section {
        width: 100%;
    }
}